**TRANSFORMACIONES**

Se importan librerias

In [1]:
import pandas as pd
import numpy as np

Leemos el archivo csv como un dataframe

In [2]:
df = pd.read_csv("movies_dataset.csv")

/var/folders/52/vp2y19jj5038wxz__kcpks0h0000gn/T/ipykernel_40164/641798821.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("movies_dataset.csv")

In [3]:
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

Verifico el número de filas y columnas del DataFrame

In [4]:
df.shape

(45466, 24)

Se eliminan las columnas que nos informan que no se utilizaran

In [5]:
df.drop(columns=['video','imdb_id','adult','original_title','vote_count','poster_path','homepage'], inplace=True)

Se verifican la cantidad de valores nulos

In [6]:
df.isna().sum()

belongs_to_collection    40972
budget                       0
genres                       0
id                           0
original_language           11
overview                   954
popularity                   5
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
vote_average                 6
dtype: int64

Se reemplazan los valores nulos de la columna 'revenue' con ceros como nos indican

In [7]:
df['revenue']=df['revenue'].fillna(0)

Se transforma el tipo de dato de la columna 'release_date' ya que no estaban en tipo de fecha

In [8]:
df['release_date'] = pd.to_datetime(df['release_date'], format='%Y-%m-%d', errors='coerce')

Verifico los valores nulos de la columna anterior y procedo a eliminarlos como se me indica

In [9]:
df['release_date'].isna().sum()

90

In [10]:
df = df.dropna(subset=['release_date'])

Confirmo la correcta eliminacion

In [11]:
df['release_date'].isna().sum()

0

Se crea la columna 'release_year' donde se extraera el año de la columna 'release_date'

In [12]:
df['release_year'] = df['release_date'].dt.year

Ya que necesito realizar una operacion para la creacion de una nueva columna verifico los tipos de datos del Dataframe

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45376 entries, 0 to 45465
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4488 non-null   object
 1   budget                 45376 non-null  object
 2   genres                 45376 non-null  object
 3   id                     45376 non-null  object
 4   original_language      45365 non-null  object
 5   overview               44435 non-null  object
 6   popularity             45376 non-null  object
 7   production_companies   45376 non-null  object
 8   production_countries   45376 non-null  object
 9   release_date           45376 non-null  datetime64[ns]
 10  revenue                45376 non-null  float64
 11  runtime                45130 non-null  float64
 12  spoken_languages       45376 non-null  object
 13  status                 45296 non-null  object
 14  tagline                20398 non-null  object
 15  title                  45376 non-null  object
 16  vote_average           45376 non-null  float64
 17  release_year           45376 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(1), object(13)
memory usage: 6.6+ MB

Como las columnas 'revenue' y 'budget' no son del mismo tipo, se procede a cambiar el tipo de datos a float a 'budget' para realizar la operacion

In [14]:
df['budget']=pd.to_numeric(df['budget'],downcast='float',errors='coerce')

Se crea la columna 'return' dividiendo las dos columnas anteriores (revenue / budget) indicando que cuando no haya datos disponibles para calcularlo, deberá tomar el valor cero

In [15]:
df['return']=df['revenue'].divide(df['budget']).fillna(0)

Se verifica la nueva columna

In [16]:
df['return'].head()

0    12.451801
1     4.043035
2     0.000000
3     5.090760
4          inf
Name: return, dtype: float64

Ya que algunos valores son de tipo 'inf' se reemplazan por nulos y estos nulos por ceros

In [17]:
df['return'].replace([np.inf, -np.inf], np.nan, inplace=True)

In [18]:
df['return'].fillna(0, inplace=True)

Se verifica nuevamente la columna 'return'

In [19]:
df['return'].head()

0    12.451801
1     4.043035
2     0.000000
3     5.090760
4     0.000000
Name: return, dtype: float64

Se empieza desanidando la columnas que se encuentran tipo lista

In [20]:
import ast

In [22]:
def fetch_name(obj):
    if isinstance(obj, str) and '{' in obj:
        L=[]
        for i in ast.literal_eval(obj):
            L.append(i['name']);
        return L

In [23]:
df['genres']                = df['genres'].apply(fetch_name)
df['production_companies']  = df['production_companies'].apply(fetch_name)
df['production_countries']  = df['production_countries'].apply(fetch_name)
df['spoken_languages']      = df['spoken_languages'].apply(fetch_name)

Se procede a desanidar la columna 'belongs_to_collection' que se encuentra tipo diccionario

In [24]:
def fetch_name2(obj):
    if isinstance(obj, str) and '{' in obj:
        dic = ast.literal_eval(obj)
        return dic['name']

In [25]:
df['belongs_to_collection'] = df['belongs_to_collection'].apply(fetch_name2)

Se verifica la desanidada

In [26]:
df.head()

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,release_year,return
0,Toy Story Collection,30000000.0,"[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,[Pixar Animation Studios],[United States of America],1995-10-30,373554033.0,81.0,[English],Released,NaN,Toy Story,7.7,1995,12.451801
1,None,65000000.0,"[Adventure, Fantasy, Family]",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],1995-12-15,262797249.0,104.0,"[English, Français]",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,1995,4.043035
2,Grumpy Old Men Collection,0.0,"[Romance, Comedy]",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[Warner Bros., Lancaster Gate]",[United States of America],1995-12-22,0.0,101.0,[English],Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,1995,0.000000
3,None,16000000.0,"[Comedy, Drama, Romance]",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[Twentieth Century Fox Film Corporation],[United States of America],1995-12-22,81452156.0,127.0,[English],Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,1995,5.090760
4,Father of the Bride Collection,0.0,[Comedy],11862,en,Just when George Banks has recovered from his ...,8.387519,"[Sandollar Productions, Touchstone Pictures]",[United States of America],1995-02-10,76578911.0,106.0,[English],Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,1995,0.000000

Dado por terminado todas las transformaciones solicitadas se procede a guardar

In [27]:
df.to_csv('df_transformado.csv', index= False)